body {
    color: #000;
    background-color: #fff;
}

.h1, h1 {
    margin: 0px;
}

.top-line {
    display: flex;
    align-items: center;
    justify-content: center;
    
    padding-bottom: 1.5rem;
}

/* Bootstrap Modifications */

.col-sm {
    justify-content: center;
}