{% extends 'base.html.twig' %}

{% block main %}

    <div>
        <div class="top-line">
            <h1>Recent Recipes</h1>
        </div>
        <div class="row">
            {{ include('recipes/_recipe_cards.html.twig') }}
        </div>
    </div>

{% endblock main %}
