{% extends 'base.html.twig' %}

{% block main %}

    <div>
        <div class="top-line">
            <h1>Recent Recipes</h1>
        </div>
        <div class="row">
            <div class="col-sm" align="center">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Recipe Title</h5>
                        <p class="card-text">Recipe Ingredients</p>
                        <span>
                            <a href="#" class="btn btn-success">View Details</a>
                            <a href="#" class="btn btn-danger">Edit Recipe</a>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-sm" align="center">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Recipe Title</h5>
                        <p class="card-text">Recipe Ingredients</p>
                        <span>
                            <a href="#" class="btn btn-success">View Details</a>
                            <a href="#" class="btn btn-danger">Edit Recipe</a>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-sm" align="center">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Recipe Title</h5>
                        <p class="card-text">Recipe Ingredients</p>
                        <span>
                            <a href="#" class="btn btn-success">View Details</a>
                            <a href="#" class="btn btn-danger">Edit Recipe</a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock main %}
