{% extends 'add.html.twig' %}

{% set numIngredients = 1 %}
{% block ingredients %}

    {% for i in 1..numIngredients %}
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Ingredient Name" aria-label="Ingredient Name" aria-describedby="button-addon2">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" id="button-addon2">Delete</button>
            </div>
        </div>
    {% endfor %}


{% endblock %}