{% extends 'base.html.twig' %}

{% block main %}
    {% set ingred = 1 %}
    <div>
        <div class="top-line">
            <h1>Add Recipe</h1>
        </div>
        <form>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputEmail4">Title</label>
                    <input class="form-control" id="inputEmail4" required>
                </div>
                <div class="form-group col-md-6">
                    <label for="inputPassword4">Category</label>
                    <div class="input-group mb-3">
                        <select class="custom-select form-control" id="inputGroupSelect02" required>
                            <option value="" selected>Choose...</option>
                            <option value="1">Breakfast</option>
                            <option value="2">Lunch</option>
                            <option value="3">Dinner</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="validationTextarea">Description</label>
                    <textarea class="form-control" id="validationTextarea" placeholder="Recipe Description" required></textarea>
                </div>
            </div>
            {# <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="inputIngredients">Ingredients</label>
                    {% for i in 1..ingred %}
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Ingredient Name" aria-label="Ingredient Name" aria-describedby="button-addon2" required>
                        </div>
                    {% endfor %}
                    <button class="btn btn-outline-secondary" onclick="increaseIngredients()" type="button" id="button-addon2">Add Ingredient</button>
                    <button class="btn btn-outline-secondary" onclick="decreaseIngredients()" type="button" id="button-addon2">Remove Ingredient</button>
                </div>
            </div> #}
            <div class="form-row submit">
                <button type="submit" class="btn btn-primary">Save Recipe</button>
            </div>
        </form>
    </div>

    {% block javascripts %}
        {{ parent() }}
        <script type="text/javascript">
            var ingredients = 1;

            function increaseIngredients() {
                ingredients++;
                console.log(ingredients);
            }

            function decreaseIngredients() {
                if (ingredients > 1)
                    ingredients--;
                console.log(ingredients);
            }

            function returnIngredients() {
                return ingredients;
            }
        </script>
    {% endblock %}

{% endblock %}